<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.messageboard.mapper.PostMapper">

    <resultMap id="PostMap" type="com.messageboard.entity.Post">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="title" column="title"/>
        <result property="text" column="text"/>
        <result property="time" column="time"/>
        <collection property="comments"
                    ofType="com.messageboard.entity.Comment"
                    column="id"
                    select="com.messageboard.mapper.CommentMapper.findByPostId"/>
    </resultMap>

    <insert id="insert">
        insert into post (user_id, user_name, title, text)
        values (#{userId}, #{userName}, #{title}, #{text})
    </insert>

    <select id="findAllWithComments" resultMap="PostMap">
        select id, user_id, user_name, title, text, time
        from post
        order by time desc
    </select>

    <select id="findByTitleWithComments" resultMap="PostMap">
        select id, user_id, user_name, title, text, time
        from post
        where title like concat('%', #{title}, '%')
        order by time desc
    </select>

    <select id="findByUserIdWithComments" resultMap="PostMap">
        select id, user_id, user_name, title, text, time
        from post
        where user_id = #{userId}
        order by time desc
    </select>

    <delete id="deleteCommentsByPostId">
        delete from comment where post_id = #{postId}
    </delete>

    <delete id="deletePost">
        delete from post where id = #{id}
    </delete>
</mapper>
